@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-background {
  background: radial-gradient(33.24% 40.65% at 98.98% 6.13%, rgba(232, 123, 53, 0.2) 0%, rgba(0, 0, 0, 0) 100%) 
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, 
  radial-gradient(44.84% 94.82% at -5.59% 101.56%, rgba(232, 123, 53, 0.2) 0%, rgba(0, 0, 0, 0) 100%) 
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #030616;
}

@layer components {
  .chat-bubble {
    @apply w-full px-8 md:px-24 lg:px-48 py-10 flex flex-row items-start space-x-4;
  }
  .bg-blur {
    @apply bg-slate-400 backdrop-blur-sm bg-opacity-10 rounded-lg;
  }
}